/* Login.css */
.title {
	text-align: center;
    width: 30vw;
    background-color: #CDE5D9;
    padding: 2vw 1vw;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-family: serif;
}
p {
	text-align: center;
    font-size: 3rem;
    font-family: serif;
	border-radius: 10px 10px 10px 10px;
}
.Login {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 1vw 1vw;
    background-color: #e3bac7;
    border-radius: 10px 10px 10px 10px;
}
input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    padding: 1vw 1vw;
    outline: none;
    margin: 5px;
}
