html, body {
	height: 100%;   /* Ensure that the body and html fill the entire screen */
	margin: 0;      /* Remove default margin */
}
.FocusGarden {
	width: 100%;    
	height: 100vh;  
	box-sizing: border-box;
	background-color: #000000;
	text-align: center;

	
}
.gardenTitle {
	color: #CDE5D9; 
	font-size: 6rem; 
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

