html, body {
	height: 100%;   /* Ensure that the body and html fill the entire screen */
	margin: 0;      /* Remove default margin */
}
.FocusGarden {
	width: 100%;    
	height: 100vh;  
	box-sizing: border-box;
	text-align: center;	
	justify-content: center; 
	display: flex;
	flex-direction: row;
	background-color: black;
}
.GridLocation {
	background-image: url('/Farmland.png') ;
	background-size: cover;
	background-position: center;
	position: relative;
	top: 30px;
	

}
.gardenTitle {
	color: #ffffff; 
	font-size: 6rem; 
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

