.SignUp {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 1vw 1vw;
    background-color: #BEE3BA;
    border-radius: 10px 10px 10px 10px;
}
input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    padding: 1vw 1vw;
    outline: none;
    margin: 5px;
}
